name: Web3.js Ipfs Plugin Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    env:
      P_KEY: ${{ secrets.P_KEY }}
      THIRD_WEB_SECRET_KEY: ${{ secrets.THIRD_WEB_SECRET_KEY }}
      THIRD_WEB_CLIENT_ID: ${{ secrets.THIRD_WEB_CLIENT_ID }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: yarn install

      - name: Run unit tests
        run: yarn test

      - name: Run e2e tests
        run: yarn test:e2e

      - name: Run e2e tests in web browser environment
        run: yarn test:browser